<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/hospital/css/forms.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Document</title>
</head>
<body class="search-form_root">
    <div class="center">
        <h1 class="h1">Search hospital</h1>
    </div>
    <div class="center">
        <p class="p">Dimana lokasi kamu saat ini?</p>
    </div>
    <div class="search-form_forms">
        <form action="" , method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="form-control" placeholder="Masukkan lokasi daerah kamu">
        </form>
    </div>
</body>
</html>