<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid-19 Panic Button</title>
    <style>
        #greeting-message {
            font-size: 1.5em;
            color: limegreen;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CCC; height: 5vh">
      <a class="navbar-brand" href="../">Home</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../data-covid">Data Covid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../hospital">Rumah Sakit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Perlengkapan Isoman</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Motivasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Things to do</a>
          </li>
        </ul>
      </div>
    </nav>

    <div style="height: 90vh; text-align:center; padding-top: 10vh">
        {% block content %}{% endblock %}
    </div>

    <div style="height: 5vh; background-color: #CCC; padding-top: 5px; padding-left: 10px">
        <p>idk mungkin daftarin nama kelompok disini</p>
    </div>
</body>
</html>
