{% extends "base.html" %} {% block head %} {% load static %}
<title>Covid App</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
/>
<link
    rel="stylesheet"
    href="{% static 'css/data_covid.css' %}"
    type="text/css"
/>

{% endblock head %} {% block content %}

<body>
    <!-- sementara kyk gini  -->
    <!-- start of content wilayahmu -->
    <div class="content-wilayah no-detect">
        <h4 class="h4-wilayah">
            Saat ini kamu terdeteksi di provinsi
            <span class="mySpan">DKI Jakarta</span>
        </h4>
        <div class="outter-content">
            <div class="first-outter">
                <div class="center-content-provinsi">
                    <h1 class="h1-wilayah">Kasus di Provinsimu adalah</h1>
                    <div class="cards">
                        <!-- card positif -->
                        <div
                            class="card text-white bg-warning mb-3"
                            style="max-width: 25vw"
                        >
                            <div class="card-body">
                                <p class="card-text">Total Positif</p>
                                <h5
                                    class="card-title positif-wilayah"
                                    style="margin: 0"
                                >
                                    <b>-</b>
                                </h5>
                                <p class="card-text">Orang</p>
                            </div>
                        </div>
                        <!-- card sembuh -->
                        <div
                            class="card text-white bg-success mb-3"
                            style="max-width: 25vw"
                        >
                            <div class="card-body">
                                <p class="card-text">Total Sembuh</p>
                                <h5
                                    class="card-title sembuh-wilayah"
                                    style="margin: 0"
                                    data-target="0"
                                >
                                    <b>-</b>
                                </h5>
                                <p class="card-text">Orang</p>
                            </div>
                        </div>
                        <!-- card meninggal -->
                        <div
                            class="card text-white bg-danger mb-3"
                            style="max-width: 25vw"
                        >
                            <div class="card-body">
                                <p class="card-text">Total Meninggal</p>
                                <h5
                                    class="card-title meninggal-wilayah"
                                    style="margin: 0"
                                    data-target="0"
                                >
                                    <b>-</b>
                                </h5>
                                <p class="card-text">Orang</p>
                            </div>
                        </div>
                    </div>
                    <p class="last-update wilayah">Last Update: 202020</p>

                    <!-- end of cards -->
                </div>
            </div>
            <div class="prediksi-cuaca">
                <div class="card">
                    <div class="weather loading">
                        <h4 class="city">Prediksi Cuaca Jakarta</h4>
                        <p class="jam-paragraf">dalam -+ 3 Jam</p>
                        <h2 class="temp">51°C</h2>
                        <div class="flex">
                            <!-- <img
                                src="https://openweathermap.org/img/wn/50n.png"
                                alt=""
                                class="icon"
                            /> -->
                            <div class="description">Cloudy</div>
                        </div>

                        <h6>Himbuauan</h6>
                        <p class="isi-saran">Ini isi dari sarannya</p>
                        <p>Sumber: BMKG</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of outter-content -->
    </div>
    <!-- end of content-wilayahmu -->
    <!-- end of content-wilayahmu -->

    <!-- start of content provinsi -->
    <div class="content-provinsi loading">
        <div class="center-content-provinsi">
            <div class="search">
                <input
                    type="text"
                    class="search-bar"
                    placeholder="Cari data COVID per provinsi..."
                />
                <button>
                    <svg class="search-icon" viewBox="0 0 20 20">
                        <path
                            d="M18.125,15.804l-4.038-4.037c0.675-1.079,1.012-2.308,1.01-3.534C15.089,4.62,12.199,1.75,8.584,1.75C4.815,1.75,1.982,4.726,2,8.286c0.021,3.577,2.908,6.549,6.578,6.549c1.241,0,2.417-0.347,3.44-0.985l4.032,4.026c0.167,0.166,0.43,0.166,0.596,0l1.479-1.478C18.292,16.234,18.292,15.968,18.125,15.804 M8.578,13.99c-3.198,0-5.716-2.593-5.733-5.71c-0.017-3.084,2.438-5.686,5.74-5.686c3.197,0,5.625,2.493,5.64,5.624C14.242,11.548,11.621,13.99,8.578,13.99 M16.349,16.981l-3.637-3.635c0.131-0.11,0.721-0.695,0.876-0.884l3.642,3.639L16.349,16.981z"
                        ></path>
                    </svg>
                </button>
            </div>
            <div class="provinsi loading">
                <h1 class="h1-provinsi">Kasus di Provinsi Jakarta</h1>
                <div class="cards">
                    <!-- card positif -->
                    <div
                        class="card text-white bg-warning mb-3"
                        style="max-width: 25vw"
                    >
                        <div class="card-body">
                            <p class="card-text">Total Positif</p>
                            <h5
                                class="card-title positif-provinsi"
                                style="margin: 0"
                            >
                                <b>0</b>
                            </h5>
                            <p class="card-text">Orang</p>
                        </div>
                    </div>
                    <!-- card sembuh -->
                    <div
                        class="card text-white bg-success mb-3"
                        style="max-width: 25vw"
                    >
                        <div class="card-body">
                            <p class="card-text">Total Sembuh</p>
                            <h5
                                class="card-title sembuh-provinsi"
                                style="margin: 0"
                                data-target="0"
                            >
                                <b>0</b>
                            </h5>
                            <p class="card-text">Orang</p>
                        </div>
                    </div>
                    <!-- card meninggal -->
                    <div
                        class="card text-white bg-danger mb-3"
                        style="max-width: 25vw"
                    >
                        <div class="card-body">
                            <p class="card-text">Total Meninggal</p>
                            <h5
                                class="card-title meninggal-provinsi"
                                style="margin: 0"
                                data-target="0"
                            >
                                <b>0</b>
                            </h5>
                            <p class="card-text">Orang</p>
                        </div>
                    </div>
                </div>
                <p class="last-update provinsi">Last Update: 202020</p>
            </div>
            <!-- end of cards -->
        </div>
    </div>
    <!-- end of content-provinsi -->

    <!-- content indonesia -->
    <div class="content-indonesia">
        <div class="text-indo">
            <img
                src=" {% static 'images/indonesia.svg' %}"
                alt=""
                class="svg-indo"
            />
            <h1>Data Covid Indonesia</h1>
        </div>
        <div class="centered-cards">
            <div class="cards-indonesia">
                <!-- card positif -->
                <div
                    class="card text-white bg-warning mb-3"
                    style="max-width: 25vw"
                >
                    <div class="card-body">
                        <p class="card-text">Total Positif</p>
                        <h5 class="card-title positif-indo" style="margin: 0">
                            <b>-</b>
                        </h5>
                        <p class="card-text">Orang</p>
                    </div>
                </div>

                <!-- card sembuh -->
                <div
                    class="card text-white bg-success mb-3"
                    style="max-width: 25vw"
                >
                    <div class="card-body">
                        <p class="card-text">Total Sembuh</p>
                        <h5 class="card-title sembuh-indo" style="margin: 0">
                            <b>-</b>
                        </h5>
                        <p class="card-text">Orang</p>
                    </div>
                </div>

                <!-- card meninggal -->
                <div
                    class="card text-white bg-danger mb-3"
                    style="max-width: 25vw"
                >
                    <div class="card-body">
                        <p class="card-text">Total Meninggal</p>
                        <h5 class="card-title meninggal-indo" style="margin: 0">
                            <b>-</b>
                        </h5>
                        <p class="card-text">Orang</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content global -->
    <div class="content-global">
        <div class="centered-cards">
            <div class="cards-global">
                <!-- card positif -->
                <div
                    class="card text-white bg-warning mb-3"
                    style="max-width: 25vw"
                >
                    <div class="card-body">
                        <p class="card-text">Total Positif</p>
                        <h5 class="card-title positif-global" style="margin: 0">
                            <b>-</b>
                        </h5>
                        <p class="card-text">Orang</p>
                    </div>
                </div>

                <!-- card sembuh -->
                <div
                    class="card text-white bg-success mb-3"
                    style="max-width: 25vw"
                >
                    <div class="card-body">
                        <p class="card-text">Total Sembuh</p>
                        <h5 class="card-title sembuh-global" style="margin: 0">
                            <b>-</b>
                        </h5>
                        <p class="card-text">Orang</p>
                    </div>
                </div>

                <!-- card meninggal -->
                <div
                    class="card text-white bg-danger mb-3"
                    style="max-width: 25vw"
                >
                    <div class="card-body">
                        <p class="card-text">Total Meninggal</p>
                        <h5
                            class="card-title meninggal-global"
                            style="margin: 0"
                        >
                            <b>-</b>
                        </h5>
                        <p class="card-text">Orang</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-indo">
            <img
                src="{% static 'images/globe.svg' %}"
                alt=""
                class="svg-globe"
            />
            <h1>Data Covid Global</h1>
        </div>
    </div>
    <!-- end of all covid content -->

    <div id="overlay-link">
        <a href="javascript:void(0)" onclick="on()">Link API yang Digunakan</a>
    </div>

    <div id="overlay" onclick="off()">
        <div class="inner-overlay">
            <div class="overlay-content">
                <h1>Link API</h1>
                <h4>Global COVID API:</h4>
                <a href="https://api.quarantine.country/api/v1/summary/latest"
                    >https://api.quarantine.country/api/v1/summary/latest</a
                >
                <h4>Indonesia Province COVID API:</h4>
                <a
                    href="https://apicovid19indonesia-v2.vercel.app/api/indonesia/provinsi/more"
                    >https://apicovid19indonesia-v2.vercel.app/api/indonesia/provinsi/more</a
                >
                <h4>Weather Prediction BMKG API:</h4>
                <a href="https://data.bmkg.go.id/prakiraan-cuaca/"
                    >https://data.bmkg.go.id/prakiraan-cuaca/</a
                >
            </div>
            <div class="btn-section">
                <button class="overlay-btn">&#215;</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/data_covid.js' %}" defer></script>
    <div class="none">
        <!-- <div onload="wilayah.fetchCorona({{i.prov}})"></div> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $.getScript("{% static 'js/data_covid.js' %}", function () {
                console.log("masoook");
                callProvinsi("{{last_prov}}");
            });

            // function pickProv() {
            //     var x = "{{last_prov}}";
            //     console.log(x);
            //     callProvinsi(x);
            // }
        </script>
    </div>
</body>

{% endblock content %}
